#!/usr/bin/make -f
export DH_VERBOSE = 1

url='https://pypi.org/packages/source/p/python-dateutil/python-dateutil-2.8.2.tar.gz'
build_dir='dateutil'

override_dh_auto_clean:
        if [ ! -f $(build_dir) ]; then rm -rf $(build_dir); fi
        mkdir $(build_dir)
        dh_auto_clean

override_dh_auto_configure:
        wget $(url) -O $(build_dir).tar.gz
        tar -xzf $(build_dir).tar.gz -C $(build_dir)/ --strip-components=1
        rm -f $(build_dir).tar.gz
        cd $(build_dir)

override_dh_usrlocal:

%:
        dh $@ --sourcedirectory=$(build_dir)/
